@page "/"
@inject IStringLocalizer<GenoCRM.SharedResource> Localizer

<PageTitle>@Localizer["Home"]</PageTitle>

<h1>@Localizer["WelcomeMessage"]</h1>

<p>@Localizer["WelcomeMessage"]</p>

<div class="mt-4">
    <h3>@Localizer["DebugInfo"]:</h3>
    <p>Current Culture: @System.Globalization.CultureInfo.CurrentCulture.Name</p>
    <p>Current UI Culture: @System.Globalization.CultureInfo.CurrentUICulture.Name</p>
    <p>Home key value: "@Localizer["Home"]"</p>
    <p>WelcomeMessage key value: "@Localizer["WelcomeMessage"]"</p>
    <p>Localizer type: @Localizer.GetType().Name</p>
</div>